/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/fundopraia3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007BFF;
    z-index: 1000;
}

.logo img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.4);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav ul li {
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover {
    color: #194064;
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: whitesmoke;
    margin-bottom: 4px;
    border-radius: 5px;
}

.titulo-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 179, 238, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    position: relative;
    z-index: 1;
}

.titulo-login h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.login-form, .register-form {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.register-button, .login-button {
    background-color: #25279b;
    margin-top: 10px;
}

.register-button:hover, .login-button:hover {
    background-color: #0d1253;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #007BFF;
        border-radius: 10px;
        padding: 10px 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    nav ul.open {
        display: flex;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 1001;
    }

    .hamburger span {
        height: 3px;
        width: 25px;
        background: whitesmoke;
        margin-bottom: 4px;
        border-radius: 5px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007BFF;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    z-index: 100; 
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li img {
    width: 40px;
    height: auto;
}

footer h2 {
    margin-top: 10px;
}

